body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    padding: 20px;
}
h1{
text-align: center;
color: white;
}
p {
    color: white;
    line-height: 1.6;
}
p{
    font-size: 18px;

}
form{
    background: #ffffff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 400px;
}
label{
    font-weight: bold;
    display: block;
}
input[type="date"] {
    width: 100%;
    padding: 10px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}button:hover {
    background-color: #a00707;
}
.result {
    background: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
